.iconGirl {
  height: 45%;
  left: 3%;
  top: -08%;
  position: fixed;
}
.armyManSceneIcon {
  height: 70%;
  position: fixed;
  left: 52%;
  top: 20%;
}


.armyManSceneIcon {
  height: 70%;
  position: fixed;
  left: 52%;
  top: 20%;
}

.dentistSceneIcon {
  height: 70%;
  position: fixed;
  left: 25%;
  top: 21%;
}

.doctorSceneIcon {
  height: 70%;
  position: fixed;
  left: 35%;
  top: 21%;
}
.fireFighterSceneIcon {
  height: 90%;
  position: fixed;
  left: 30%;
  top: 15%;
}

.floorCleanerSceneIcon {
  height: 50%;
  position: fixed;
  left: 35%;
  top: 41%;
}

.garbageCollectorSceneIcon {
  height: 70%;
  position: fixed;
  left: 50%;
  top: 35%;
}
.gardenerSceneIcon {
  height: 70%;
  position: fixed;
  left: 45%;
  top: 38%;
}

.guardSceneIcon {
  height: 60%;
  position: fixed;
  left: 35%;
  top: 42%;
}
.policeSceneIcon {
  height: 70%;
  position: fixed;
  left: 35%;
  top: 25%;
}
.teacherSceneIcon {
  height: 60%;
  position: fixed;
  left: 45%;
  top: 32%;
}

.next_button {
  position: fixed;
  z-index: 999;
  left: 91%;
  bottom: 1.9%;
  height: 10%;
}

.prev_button {
  position: fixed;
  z-index: 999;
  left: 3%;
  bottom: 2.25%;
  height: 10%;
}
.toolContainer {
  height: 20%;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
}
.music_button {
  position: fixed;
  z-index: 999;
  left: 2%;
  bottom: 50%;
  height: 8%;
}

.music_button01 {
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 50%;
  height: 8%;
}
.rightCharacterIcon:hover {
  transform: scale(1.1);
}

.leftCharacterIcon:hover {
  transform: scale(1.1);
}

.leftHilighterIcon:hover {
  transform: scale(1.1);
}

.rightHilighterIcon:hover {
  transform: scale(1.1);
}

.rightCharacterIcon {
  position: fixed;
  z-index: 7;
  left: 55%;
  top: 20%;
  height: 60%;
}

.leftCharacterIcon {
  position: fixed;
  z-index: 7;
  left: 20%;
  top: 20%;
  height: 60%;
}

.leftHilighterIcon {
  position: fixed;
  z-index: 999;
  top: 19%;
  height: 60%;
  left: 19.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rightHilighterIcon {
  position: fixed;
  z-index: 999;
  top: 19%;
  height: 60%;
  left: 54.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bottomEquipButton {
  position: fixed;
  z-index: 999;
  top: 2%;
  height: 60%;
  left: 75%;
}

.topEquipButton {
  position: fixed;
  z-index: 999;
  top: 45%;
  height: 60%;
  left: 75%;
}

.bottomHighlightIcon {
  position: fixed;
  z-index: 999;
  top: 2%;
  height: 60%;
  left: 74.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.topHighlightIcon {
  position: fixed;
  z-index: 999;
  top: 45%;
  height: 60%;
  left: 74.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.progressBar {
  position: fixed;
  z-index: 10;
  top: 03%;
  height: 08%;
  left: 70%;
}
.progressBarStars {
  position: relative;
  z-index: 20;
  margin-left: 0.7%;
  height: 10%;

  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.starspos {
  top: 04%;
  left: 72%;
  height: 60%;
  position: fixed;
  z-index: 15;
  width: 20%;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
