.dressing_txt_img {
  position: fixed;
  left: 0;
  top: 2%;
  height: 100%;
  width: 100%;
}

.play_btn {
  position: fixed;
  bottom: 5%;
  left: 92%;
  z-index: 9;
}

.intro_lottie_container {
  position: fixed;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 100%;
}
