.iconGirl {
  height: 50%;
  left: 0%;
  top: -5%;
  position: fixed;
}

.iconGirlEyes {
  height: 11%;
  left: 8.9%;
  top: 13.5%;
  position: fixed;
}
.transitionStyle {
  height: 200%;
  width: 200%;
  position: fixed;
  left: 0%;
  top: -50%;
  /* z-index: 999; */
}

.armyManSceneIcon {
  height: 70%;
  position: absolute;
  left: 35%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 22%;
}

.dentistSceneIcon {
  height: 85%;
  position: fixed;
  left: 20%;
  -webkit-top: 21%;
  -moz-top: 21%;
  top: 21%;
}
/*   -webkit-left: 35%;
  -moz-left: 35%;
  -webkit-left: 52%;
  -moz-left: 52%; */

.doctorSceneIcon {
  height: 80%;
  position: fixed;
  left: 35%;
  top: 20%;
}
.fireFighterSceneIcon {
  height: 90%;
  position: fixed;
  left: 30%;
  -webkit-left: 30%;
  -moz-left: 30%;
  top: 15%;
}

.floorCleanerSceneIcon {
  height: 60%;
  position: fixed;
  left: 35%;
  -webkit-left: 35%;
  -moz-left: 35%;
  top: 41%;
}

.garbageCollectorSceneIcon {
  height: 70%;
  position: fixed;
  left: 50%;
  -webkit-left: 50%;
  -moz-left: 50%;
  top: 30%;
}
.gardenerSceneIcon {
  height: 70%;
  position: fixed;
  left: 45%;
  -webkit-left: 45%;
  -moz-left: 45%;
  top: 32%;
}

.guardSceneIcon {
  height: 70%;
  position: fixed;
  left: 35%;
  -webkit-left: 35%;
  -moz-left: 35%;
  top: 35%;
}
.policeSceneIcon {
  height: 70%;
  position: fixed;
  left: 20%;
  top: 17%;
}
.teacherSceneIcon {
  height: 70%;
  position: fixed;
  left: 50%;
  -webkit-left: 45%;
  -moz-left: 45%;
  top: 32%;
}

.rightHilightIcon {
  position: fixed;
  z-index: 1500;
  left: 70%;
  top: 70%;
  height: 18%;
}

.leftHilightIcon {
  position: fixed;
  z-index: 1500;
  left: 35%;
  top: 70%;
  height: 18%;
}

.bottomHilightIcon {
  position: fixed;
  z-index: 1500;
  left: 88%;
  bottom: 1%;
  height: 18%;
}

.topHilightIcon {
  position: fixed;
  z-index: 1500;
  left: 88%;
  bottom: 45%;
  height: 18%;
}

.handIconAnimation {
  animation: slide-bl 2s linear 0s normal none;
}

@keyframes slide-bl {
  0% {
    transform: translateY(200px) translateX(200px);
  }
  55% {
    transform: translateY(0) translateX(0);
  }
  80% {
    transform: translateY(15px) translateX(-10px);
    transform: scale(0.95);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.cursorPointer {
  /*  cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='128' height='128' viewBox='0 0 135 150'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fdd0ad; stroke: %23725039; stroke-linejoin: round; %7D .cls-2 %7B fill: %23eab998; %7D .cls-3 %7B fill: %23fff2e9; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='M103.89,41.65a10.11,10.11,0,0,0-7.83.29A10.31,10.31,0,0,0,90.13,52a10.05,10.05,0,0,0,.9,3.54l4.11,9-4.11-9-4-8.7a10.25,10.25,0,0,0-18.62,8.59l4.85,10.59L68.43,55.47l-3.29-7.19a10.25,10.25,0,1,0-18.62,8.58l4.87,10.65L46.52,56.86l-20-43.66A10.24,10.24,0,0,0,13,8.15a10.34,10.34,0,0,0-5,13.64L41.72,95.65l-4.5-3.78L24.75,81.42a10.24,10.24,0,0,0-14.43,1.3h0a10.34,10.34,0,0,0,1.3,14.49L51.34,130.5h0A45.62,45.62,0,0,0,123.85,78l-14.2-31A10.24,10.24,0,0,0,103.89,41.65Z'/%3E%3Cpath class='cls-2' d='M12.47,9.42S35.72,73.3,53.68,98.71s60.12,27.51,72.86-6.44c0,0,4.47,37.55-33.84,48-10.64,2.89-26.91,2-40.8-10.47C33.76,113.53,11,95.46,11,95.46s-4.08-4.64-1.7-10.11c1.69-3.89,7.65-9.16,15.2-3.15,5.27,4.19,13.88,12.64,17.65,13.72,1.49.43-25.17-55.66-33.93-75.49C4.91,13.05,12.47,9.42,12.47,9.42Z'/%3E%3Cpath class='cls-3' d='M52.33,45.37a5.6,5.6,0,0,1,4-1.19,8.27,8.27,0,0,1,4.15,1.59,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.13,33.13,0,0,1,1.61,7.76,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.53-3.58-6.85a23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,52.33,45.37Z'/%3E%3Cpath class='cls-3' d='M13.81,10.16a5.6,5.6,0,0,1,4-1.18A8.35,8.35,0,0,1,22,10.56a16.34,16.34,0,0,1,5.23,6.63,61,61,0,0,1,2.84,7.26,33.83,33.83,0,0,1,1.6,7.77,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.54-3.58-6.85A23.69,23.69,0,0,0,20,13,7.35,7.35,0,0,0,13.81,10.16Z'/%3E%3Cpath class='cls-3' d='M74.12,43.34a5.59,5.59,0,0,1,4-1.18,8.35,8.35,0,0,1,4.15,1.58,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26A33.21,33.21,0,0,1,92,65.4a53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,74.12,43.34Z'/%3E%3Cpath class='cls-3' d='M96.92,43.63a5.59,5.59,0,0,1,4-1.18A8.35,8.35,0,0,1,105.11,44a16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.21,33.21,0,0,1,1.61,7.77,53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,96.92,43.63Z'/%3E%3C/g%3E%3C/svg%3E%0A"),
    auto !important; */
}
.next_button {
  position: fixed;
  left: 91%;
  bottom: 1.9%;
  height: 12%;
  cursor: pointer;
  /*  cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='128' height='128' viewBox='0 0 135 150'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fdd0ad; stroke: %23725039; stroke-linejoin: round; %7D .cls-2 %7B fill: %23eab998; %7D .cls-3 %7B fill: %23fff2e9; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='M103.89,41.65a10.11,10.11,0,0,0-7.83.29A10.31,10.31,0,0,0,90.13,52a10.05,10.05,0,0,0,.9,3.54l4.11,9-4.11-9-4-8.7a10.25,10.25,0,0,0-18.62,8.59l4.85,10.59L68.43,55.47l-3.29-7.19a10.25,10.25,0,1,0-18.62,8.58l4.87,10.65L46.52,56.86l-20-43.66A10.24,10.24,0,0,0,13,8.15a10.34,10.34,0,0,0-5,13.64L41.72,95.65l-4.5-3.78L24.75,81.42a10.24,10.24,0,0,0-14.43,1.3h0a10.34,10.34,0,0,0,1.3,14.49L51.34,130.5h0A45.62,45.62,0,0,0,123.85,78l-14.2-31A10.24,10.24,0,0,0,103.89,41.65Z'/%3E%3Cpath class='cls-2' d='M12.47,9.42S35.72,73.3,53.68,98.71s60.12,27.51,72.86-6.44c0,0,4.47,37.55-33.84,48-10.64,2.89-26.91,2-40.8-10.47C33.76,113.53,11,95.46,11,95.46s-4.08-4.64-1.7-10.11c1.69-3.89,7.65-9.16,15.2-3.15,5.27,4.19,13.88,12.64,17.65,13.72,1.49.43-25.17-55.66-33.93-75.49C4.91,13.05,12.47,9.42,12.47,9.42Z'/%3E%3Cpath class='cls-3' d='M52.33,45.37a5.6,5.6,0,0,1,4-1.19,8.27,8.27,0,0,1,4.15,1.59,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.13,33.13,0,0,1,1.61,7.76,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.53-3.58-6.85a23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,52.33,45.37Z'/%3E%3Cpath class='cls-3' d='M13.81,10.16a5.6,5.6,0,0,1,4-1.18A8.35,8.35,0,0,1,22,10.56a16.34,16.34,0,0,1,5.23,6.63,61,61,0,0,1,2.84,7.26,33.83,33.83,0,0,1,1.6,7.77,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.54-3.58-6.85A23.69,23.69,0,0,0,20,13,7.35,7.35,0,0,0,13.81,10.16Z'/%3E%3Cpath class='cls-3' d='M74.12,43.34a5.59,5.59,0,0,1,4-1.18,8.35,8.35,0,0,1,4.15,1.58,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26A33.21,33.21,0,0,1,92,65.4a53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,74.12,43.34Z'/%3E%3Cpath class='cls-3' d='M96.92,43.63a5.59,5.59,0,0,1,4-1.18A8.35,8.35,0,0,1,105.11,44a16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.21,33.21,0,0,1,1.61,7.77,53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,96.92,43.63Z'/%3E%3C/g%3E%3C/svg%3E%0A"),
    auto !important; */
}

.prev_button {
  position: fixed;
  left: 3%;
  bottom: 2.25%;
  height: 12%;
  cursor: pointer;
  /*  cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='128' height='128' viewBox='0 0 135 150'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fdd0ad; stroke: %23725039; stroke-linejoin: round; %7D .cls-2 %7B fill: %23eab998; %7D .cls-3 %7B fill: %23fff2e9; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='M103.89,41.65a10.11,10.11,0,0,0-7.83.29A10.31,10.31,0,0,0,90.13,52a10.05,10.05,0,0,0,.9,3.54l4.11,9-4.11-9-4-8.7a10.25,10.25,0,0,0-18.62,8.59l4.85,10.59L68.43,55.47l-3.29-7.19a10.25,10.25,0,1,0-18.62,8.58l4.87,10.65L46.52,56.86l-20-43.66A10.24,10.24,0,0,0,13,8.15a10.34,10.34,0,0,0-5,13.64L41.72,95.65l-4.5-3.78L24.75,81.42a10.24,10.24,0,0,0-14.43,1.3h0a10.34,10.34,0,0,0,1.3,14.49L51.34,130.5h0A45.62,45.62,0,0,0,123.85,78l-14.2-31A10.24,10.24,0,0,0,103.89,41.65Z'/%3E%3Cpath class='cls-2' d='M12.47,9.42S35.72,73.3,53.68,98.71s60.12,27.51,72.86-6.44c0,0,4.47,37.55-33.84,48-10.64,2.89-26.91,2-40.8-10.47C33.76,113.53,11,95.46,11,95.46s-4.08-4.64-1.7-10.11c1.69-3.89,7.65-9.16,15.2-3.15,5.27,4.19,13.88,12.64,17.65,13.72,1.49.43-25.17-55.66-33.93-75.49C4.91,13.05,12.47,9.42,12.47,9.42Z'/%3E%3Cpath class='cls-3' d='M52.33,45.37a5.6,5.6,0,0,1,4-1.19,8.27,8.27,0,0,1,4.15,1.59,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.13,33.13,0,0,1,1.61,7.76,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.53-3.58-6.85a23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,52.33,45.37Z'/%3E%3Cpath class='cls-3' d='M13.81,10.16a5.6,5.6,0,0,1,4-1.18A8.35,8.35,0,0,1,22,10.56a16.34,16.34,0,0,1,5.23,6.63,61,61,0,0,1,2.84,7.26,33.83,33.83,0,0,1,1.6,7.77,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.54-3.58-6.85A23.69,23.69,0,0,0,20,13,7.35,7.35,0,0,0,13.81,10.16Z'/%3E%3Cpath class='cls-3' d='M74.12,43.34a5.59,5.59,0,0,1,4-1.18,8.35,8.35,0,0,1,4.15,1.58,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26A33.21,33.21,0,0,1,92,65.4a53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,74.12,43.34Z'/%3E%3Cpath class='cls-3' d='M96.92,43.63a5.59,5.59,0,0,1,4-1.18A8.35,8.35,0,0,1,105.11,44a16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.21,33.21,0,0,1,1.61,7.77,53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,96.92,43.63Z'/%3E%3C/g%3E%3C/svg%3E%0A"),
    auto !important; */
}
.toolContainer {
  height: 20%;
  position: absolute;
  overflow: hidden;
  z-index: 1000;
}
.music_button {
  position: fixed;
  z-index: 999;
  left: 2%;
  bottom: 50%;
  height: 10%;
  cursor: pointer;
  /*  cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='128' height='128' viewBox='0 0 135 150'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fdd0ad; stroke: %23725039; stroke-linejoin: round; %7D .cls-2 %7B fill: %23eab998; %7D .cls-3 %7B fill: %23fff2e9; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='M103.89,41.65a10.11,10.11,0,0,0-7.83.29A10.31,10.31,0,0,0,90.13,52a10.05,10.05,0,0,0,.9,3.54l4.11,9-4.11-9-4-8.7a10.25,10.25,0,0,0-18.62,8.59l4.85,10.59L68.43,55.47l-3.29-7.19a10.25,10.25,0,1,0-18.62,8.58l4.87,10.65L46.52,56.86l-20-43.66A10.24,10.24,0,0,0,13,8.15a10.34,10.34,0,0,0-5,13.64L41.72,95.65l-4.5-3.78L24.75,81.42a10.24,10.24,0,0,0-14.43,1.3h0a10.34,10.34,0,0,0,1.3,14.49L51.34,130.5h0A45.62,45.62,0,0,0,123.85,78l-14.2-31A10.24,10.24,0,0,0,103.89,41.65Z'/%3E%3Cpath class='cls-2' d='M12.47,9.42S35.72,73.3,53.68,98.71s60.12,27.51,72.86-6.44c0,0,4.47,37.55-33.84,48-10.64,2.89-26.91,2-40.8-10.47C33.76,113.53,11,95.46,11,95.46s-4.08-4.64-1.7-10.11c1.69-3.89,7.65-9.16,15.2-3.15,5.27,4.19,13.88,12.64,17.65,13.72,1.49.43-25.17-55.66-33.93-75.49C4.91,13.05,12.47,9.42,12.47,9.42Z'/%3E%3Cpath class='cls-3' d='M52.33,45.37a5.6,5.6,0,0,1,4-1.19,8.27,8.27,0,0,1,4.15,1.59,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.13,33.13,0,0,1,1.61,7.76,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.53-3.58-6.85a23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,52.33,45.37Z'/%3E%3Cpath class='cls-3' d='M13.81,10.16a5.6,5.6,0,0,1,4-1.18A8.35,8.35,0,0,1,22,10.56a16.34,16.34,0,0,1,5.23,6.63,61,61,0,0,1,2.84,7.26,33.83,33.83,0,0,1,1.6,7.77,52.82,52.82,0,0,1-4.48-6.48c-1.31-2.23-2.51-4.54-3.58-6.85A23.69,23.69,0,0,0,20,13,7.35,7.35,0,0,0,13.81,10.16Z'/%3E%3Cpath class='cls-3' d='M74.12,43.34a5.59,5.59,0,0,1,4-1.18,8.35,8.35,0,0,1,4.15,1.58,16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26A33.21,33.21,0,0,1,92,65.4a53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,74.12,43.34Z'/%3E%3Cpath class='cls-3' d='M96.92,43.63a5.59,5.59,0,0,1,4-1.18A8.35,8.35,0,0,1,105.11,44a16.21,16.21,0,0,1,5.23,6.63,59.29,59.29,0,0,1,2.83,7.26,33.21,33.21,0,0,1,1.61,7.77,53.69,53.69,0,0,1-4.48-6.49,76.93,76.93,0,0,1-3.58-6.85,23.45,23.45,0,0,0-3.64-5.93A7.33,7.33,0,0,0,96.92,43.63Z'/%3E%3C/g%3E%3C/svg%3E%0A"),
    auto !important; */
}

.rightCharacterIcon {
  position: fixed;
  z-index: 7;
  left: 55%;
  top: 18%;
  height: 70%;
  cursor: pointer;
}

.leftCharacterIcon {
  position: fixed;
  z-index: 7;
  left: 15%;
  top: 18%;
  height: 70%;
  cursor: pointer;
}

.leftHilighterIcon {
  position: fixed;
  z-index: 999;
  top: 17%;
  height: 70%;
  cursor: pointer;
  left: 14.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rightHilighterIcon {
  position: fixed;
  z-index: 999;
  top: 17%;
  height: 70%;
  cursor: pointer;
  left: 54.1%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bottomHighlightIcon {
  position: fixed;
  z-index: 999;
  top: 60%;
  cursor: pointer;
  height: 31%;
  left: 75%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.topHighlightIcon {
  position: fixed;
  cursor: pointer;
  z-index: 999;
  top: 20%;
  height: 31%;
  left: 75%;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.progressBar {
  position: fixed;
  z-index: 10;
  top: 03%;
  height: 08%;
  left: 70%;
}
.progressBarStars {
  position: relative;
  z-index: 20;
  margin-left: 1%;
  height: 09.5%;
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.starspos {
  top: 04.1%;
  left: 71.75%;
  height: 60%;
  position: fixed;
  z-index: 15;
  width: 20%;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.bottomEquipButton {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 60%;
  height: 30%;
  left: 75%;
  width: 15.5%;
}

.topEquipButton {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 20%;
  height: 30%;
  left: 75%;
  width: 15.5%;
}

/* .bottomEquipButton {
  position: fixed;
  z-index: 999;
  top: 45%;
  height: 60%;
  left: 75%;
  margin-top: -5.75%;
}

.topEquipButton {
  position: fixed;
  z-index: 999;
  top: 2%;
  height: 60%;
  left: 75%;
  margin-top: -5.75%;
} */

/* .parentTopElement {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 2%;
  margin-top: 1.5%;
  height: 30%;
  left: 75%;
  width: 15.5%;
  background: aliceblue;
}

.parentBottomElement {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 45%;
  margin-top: 1.5%;
  height: 30%;
  left: 75%;
  width: 15.5%;
  background: aliceblue;
} */

/*     position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 45%;
  height: 60%;
  left: 75%; */

.armyManShadow {
  height: 5%;
  position: absolute;
  left: 36.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 88%;
}

.dentistShadow {
  height: 5%;
  position: absolute;
  left: 36.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 88%;
}

.doctorShadow {
  height: 5%;
  position: absolute;
  left: 37.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 93%;
}

.fireFighterShadow {
  height: 5%;
  position: absolute;
  left: 36.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 88%;
}

.floorCleanerShadow {
  height: 3%;
  position: absolute;
  left: 37.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 98%;
}

.garbageCollectorShadow {
  height: 5%;
  position: absolute;
  left: 36.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 88%;
}

.guardShadow {
  height: 4%;
  position: absolute;
  left: 37.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 98%;
}

.policeShadow {
  height: 4%;
  position: absolute;
  left: 24%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 84%;
}
.teacherShadow {
  height: 5%;
  position: absolute;
  left: 36.5%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 88%;
}
.activityShadow {
  height: 6%;
  position: absolute;
  left: 14%;
  -webkit-left: 52%;
  -moz-left: 52%;
  -webkit-top: 20%;
  -moz-top: 20%;
  top: 84%;
}
