body {
  margin: 0px;
  padding: 0px;
  background: black;
}

.fadeup {
  animation: fade 1s forwards 1;
}

#fadeup {
  animation: fade 1s forwards 1;
}

* {
  -webkit-user-drag: none;
  cursor: url("/src/styles/SB_26_hand.svg"), auto;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
